################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Algorithm.Tests/obj/Debug
/Algorithm.Tests/bin/Debug
/Algorithm/Algorithm/obj/Debug
/Algorithm/Algorithm/bin/Debug
